nav {
    font-family: sans-serif;
    font-weight: 500;
    box-shadow: 0px 1px 5px grey;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.space {
    width: 100%;
    display: block;
    height: 20px;
}
.line {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: #818181;
    display: block;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-weight: 700;
    color: #000000 !important;
}
.nav-link {
    color: #000000 !important;
}
.navbar{
    background: #ffffff;
}
.hero {
    z-index: 1032;
    height: 100vh;
    min-height: 500px;
    background-image: url(hero.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.display-4 {
    font-weight: 700;
    color: #ffffff;
}
.lead {
    font-weight: 500;
    color: #ffffff;
}

.grid {
    padding-right: 3em !important;
    padding-left: 3em !important;
}

.newproduct-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
}

.newproduct-content {
    padding: 2em 0;
}

.newproduct-content h1 {
    font-size: 30px;
    letter-spacing: 8px;
}

.newproduct-content .link-product {
    border-radius: 4px;
    padding: 12px 25px;
    background-color: #000000;
    color: #ffffff;
}







/*Product card*/

.card-center {
    text-align: center;
}

.product-card {
    display: inline-block; 
    width: 210px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 18px 15px;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 20px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 16px;
}

.product-catagory {
    text-align: left;
    display: block;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 8px;
}

.product-details h4 a {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    text-align: left;
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 14px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}



.info-item .bi {
    font-size: 20px;
    color: #ffffff;
    float: left;
    width: 44px;
    height: 44px;
    background: #212222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
    flex-shrink: 0!important;
}

.lead {
    color: #000000;
    font-size: 1rem;
}
.subtitle {
    color: #ffffff;
}

.contact a {
    overflow-wrap: anywhere;
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 485px) {
    .product-card {
        width: 180px;
    }
}
@media only screen and (max-width: 425px) {
    .product-card {
        width: 250px;
    }
}
